MONGODB_URI=
PORT=3000
VITE_API_BASE_URL=
COMPANY_NAME=Microtron Pvt Ltd
MAIL_TO=sales@microtron.co.in
MAIL_FROM=
MAIL_REPLY_TO=sales@microtron.co.in
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
